<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Diseño de 3 tarjetas, html, css, diseño web">
    <meta name="keywords" content="ejercicio css y html, ejercicio frontend, frontend css y html">
    <title>3 Preview card</title>
    <link type="text/css" rel="stylesheet" href="../public/css/3PreviewCardComponent.css">
    <link type="image/png" rel="icon" href="../public/images/3columnPreviewCardComponent/favicon-32x32.png">
</head>

<body>
    <main class="layout">
        <section class="content">
            <article class="card">
                <img src="../public/images/3columnPreviewCardComponent/icon-sedans.svg" alt="">
                <h2 class="title-card">sedams</h2>
                <p>
                    Choose a sedon for its affordability and excellent full economy. Ideal for cruising in the city or on
                    your next road trip
                </p>
                <a href="#" class="btn-information">Learn more</a>
            </article>  
            <article class="card">
                <img src="../public/images/3columnPreviewCardComponent/icon-suvs.svg" alt="">
                <h2 class="title-card">suvs</h2>
                <p>
                    Take an SUV for it spacious interior, power, and versatility. Perfect for your next family vacation an off-road adventures.
                </p>
                <a href="#" class="btn-information">Learn more</a>
            </article>
            <article class="card">
                <img src="../public/images/3columnPreviewCardComponent/icon-luxury.svg" alt="">
                <h2 class="title-card">luxury</h2>
                <p>
                    Cruise in the best card brands without the bloated prices. Enjoy the ensalced comfort of a luxury rental an arrive in style.
                </p>
                <a href="#" class="btn-information">Learn more</a>
            </article>
        </section>
    </main>
</body>

</html>