<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Article preview component master">
    <title>Article preview component master</title>
    <link type="text/css" rel="stylesheet" href="../public/css/articlePreviewComponentMaster.css">
    <link type="image/png" rel="icon" href="../public/images/articlePreviewComponentMaster/favicon-32x32.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <main class="layout">
        <div class="content">
            <div class="item-card">
                <img class="img-card" src="../public/images/articlePreviewComponentMaster/drawers.jpg" alt="">
            </div>
            <article class="item-card">
                <h3 class="title">Shift the overall look and feel by adding these wonderful touches to furniture in your
                    home
                </h3>
                <p>
                    Even been in a room and felt like something was missing? Perhaps it felt slightly bare and
                    uninviting. I've got some simple tips,to help you make any room feel complete.
                </p>
                <div class="content-information">
                    <div class="info-perfil">
                        <img src="../public/images/articlePreviewComponentMaster/avatar-michelle.jpg" alt="">
                        <div class="content-perfil">
                            <b>Michelle Appleton</b>
                            <span>28 jun. 2020</span>
                        </div>
                    </div>
                    <button class="btn btn-send" id="btn-send">
                        <i class="fas fa-share"></i>
                    </button>
                </div>
                <div class="share" id="share">
                    <label>Share</label>
                    <a class="btn btn-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-icon">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </article>
        </div>
    </main>
</body>
<script src="../../public/js/articlePreviewComponentMaster.js"></script>

</html>