<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Base apparel Coming soon master">
    <title>Base apparel coming soon master</title>
    <link type="image/png" rel="icon" href="../public/images/baseApparelComingSoonMaster/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../public/css/baseApparelComingSoonMaster.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <main class="layout">
        <div class="part-card">
            <img class="img-bg-web" src="../public/images/baseApparelComingSoonMaster/hero-desktop.jpg" alt="">
            <img class="img-bg-responsive" src="../public/images/baseApparelComingSoonMaster/hero-mobile.jpg" alt="">
        </div>
        <div class="part-card">
            <header class="header">
                <div class="content">
                    <img src="../public/images/baseApparelComingSoonMaster/logo.svg" alt="">
                </div>
            </header>
            <article class="content-card">
                <h2 class="no-resalt">we're</h2>
                <h2>coming soon</h2>
                <p>
                    Hello fellow shoppers! We're currently building our new fashion store. Add your email below to stay
                    up to date with announcements and our launch deals.
                </p>
                <form class="group-input" id="form" action="#" method="POST">
                    <input type="text" name="txtEmail" id="txtEmail" placeholder="Email Address">
                    <img class="img-error" src="../public/images/baseApparelComingSoonMaster/icon-error.svg" alt="">
                    <button type="submit" id="btnSendEmail" name="btnSendEmail" class="btn-Send">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                    <small class="error-message" id="error-message-email">Este es un error</small>
                </form>
            </article>
        </div>
    </main>
</body>
<script src="../public/js/baseApparelComingSoonMaster.js"></script>

</html>