<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Creating a faq accordion card main">
    <title>Faq accordion card main</title>
    <link type="image/png" rel="icon" href="../../public/images/faqAccordionCardMain/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../../public/css/faqAccordionCardMain.css">
</head>

<body>
    <main class="layout">
        <div class="content">
            <div class="item-card">
                <img class="box-img" src="../../public/images/faqAccordionCardMain/illustration-box-desktop.svg" alt="">
                <div class="img-bg-img">
                    <img class="img-bg" src="../../public/images/faqAccordionCardMain/bg-pattern-desktop.svg" alt="">
                </div>
                <div class="content-img">
                    <img src="../../public/images/faqAccordionCardMain/illustration-woman-online-desktop.svg" alt="">
                </div>
            </div>
            <section class="item-card">
                <h2>FAQ</h2>
                <ul>
                    <li id="question-1">
                        <div class="question">
                            <h4>How many team members can I invite</h4>
                            <img src="../../public/images/faqAccordionCardMain/icon-arrow-down.svg" alt="">
                        </div>
                        <p>
                            No more than 2GB. All files in your must fit your allotted storage space.
                        </p>
                    </li>
                    <li id="question-2">
                        <div class="question">
                            <h4>What is the maximum file upload size?</h4>
                            <img src="../../public/images/faqAccordionCardMain/icon-arrow-down.svg" alt="">
                        </div>
                        <p>
                            No more than 2GB. All files in your must fit your allotted storage space.
                        </p>
                    </li>
                    <li id="question-3">
                        <div class="question">
                            <h4>How do I reset my password?</h4>
                            <img src="../../public/images/faqAccordionCardMain/icon-arrow-down.svg" alt="">
                        </div>
                        <p>
                            No more than 2GB. All files in your must fit your allotted storage space.
                        </p>
                    </li>
                    <li id="question-4">
                        <div class="question">
                            <h4>Can I cancel my subscription</h4>
                            <img src="../../public/images/faqAccordionCardMain/icon-arrow-down.svg" alt="">
                        </div>
                        <p>
                            No more than 2GB. All files in your must fit your allotted storage space.
                        </p>
                    </li>
                    <li id="question-5">
                        <div class="question">
                            <h4>Do you provide additional support?</h4>
                            <img src="../../public/images/faqAccordionCardMain/icon-arrow-down.svg" alt="">
                        </div>
                        <p>
                            No more than 2GB. All files in your must fit your allotted storage space.
                        </p>
                    </li>
                </ul>
            </section>
        </div>
    </main>
</body>
<script src="../../public/js/faqAccordionCardMain.js"></script>
</html>