<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Four card feature section">
    <meta name="keywords"
        content="Abraham Alberto Flores Zavala, Abraham Flores Zavala, Abraham Flores, Abraham, Alberto, Flores, Zavala">
    <title>Four Card Feature Section</title>
    <link type="image/png" rel="icon" href="../public/images/fourCardFeatyreSection/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../public/css/fourCardFeatureSection.css">
</head>

<body>
    <div class="layout">
        <div class="content">
            <header class="header">
                <div class="information">
                    <h2 class="top-title">Reliable, efficient delivery</h2>
                    <h2 class="title">Powered by Technology</h2>
                    <p>
                        Our artificial intelligence powered tools use millions of project data points to ensure that
                        your
                        project is successfull
                    </p>
                </div>
            </header>
            <main class="main">
                <div class="row">
                    <article class="item-card">
                        <span class="line-top"></span>
                        <h3>Supervisor</h3>
                        <p>Monitors activity to indentity project roadblocks</p>
                        <img src="../public/images/fourCardFeatureSection/icon-supervisor.svg" alt="supervisor">
                    </article>
                </div>
                <div class="row">
                    <article class="item-card">
                        <span class="line-top"></span>
                        <h3>Team Builder</h3>
                        <p>Scans our talent network to create the optimal team of your project.</p>
                        <img src="../public/images/fourCardFeatureSection/icon-team-builder.svg" alt="Team builder">
                    </article>
                    <article class="item-card">
                        <span class="line-top"></span>
                        <h3>Karma</h3>
                        <p>Regularity evaluations our talent to ensure quality.</p>
                        <img src="../public/images/fourCardFeatureSection/icon-karma.svg" alt="karma">
                    </article>
                </div>
                <div class="row">
                    <article class="item-card">
                        <span class="line-top"></span>
                        <h3>Calculator</h3>
                        <p>Use data from post projects to provide better delivery estimates.</p>
                        <img src="../public/images/fourCardFeatureSection/icon-calculator.svg" alt="Calculator">
                    </article>
                </div>
            </main>
        </div>
    </div>
</body>

</html>