<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Landing page con html y css">
    <title>Huddle landing page</title>
    <link type="image/png" rel="icon" href="../public/images/huddleLandingPage/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../public/css/huddleLandingPage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="layout">
        <img class="bg-img" src="../public/images/huddleLandingPage/bg-desktop.svg" alt="">
        <div class="content">
            <header class="header">
                <img src="../public/images/huddleLandingPage/logo.svg" alt="logo">
            </header>
            <main class="main">
                <img src="../public/images/huddleLandingPage/illustration-mockups.svg" alt="">
                <article class="information">
                    <h2>Build the conmmunity your fans will love</h2>
                    <p>
                        Huddle re-imaginesthe way we build communities. You have a voice, but so does your audience.
                        Create
                        connections with your users as you engage in gennium discussion.
                    </p>
                    <button class="btn-register">Register</button>
                </article>
            </main>
            <footer class="footer">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </footer>
        </div>
    </div>
</body>

</html>