<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Aberto Flores Zavala">
    <meta name="description" content="Resolviendo un ejercicio con css y html (ejercicio de Frontend Mentor)">
    <meta name="keywords" content="ejercicio css y html, ejercicio frontend, frontend css y html">
    <title>Card example</title>
    <link type="text/css" rel="stylesheet" href="../public/css/previewCardComponent.css">
    <link type="image/png" rel="icon" href="../public/images/previewCardComponent/favicon-32x32.png">
</head>

<body>
    <main class="layout">
        <section class="card">
            <article class="content">
                <div class="information">
                    <h1 class="title">Get <label class="title-resalt">insights</label> that help your business grow</h1>
                    <p>Discover the benefits of data analytics and make better decisions regarding reversue, customer
                        experience, and overall eficiency.</p>
                    <div class="more-information">
                        <div class="item-information">
                            <h3>10k+</h3>
                            <label>companies</label>
                        </div>
                        <div class="item-information">
                            <h3>314</h3>
                            <label>templates</label>
                        </div>
                        <div class="item-information">
                            <h3>12M+</h3>
                            <label>queries</label>
                        </div>
                    </div>
                </div>
            </article>
            <article class="content">
                <img src="../public/images/previewCardComponent/image-header-desktop.jpg" alt="company">
            </article>
        </section>
    </main>
</body>
</html>
