<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Ejemplo de tarjeta (html y css)">
    <meta name="keywords" content="ejercicio css y html, ejercicio frontend, frontend css y html">
    <title>Profile card</title>
    <link type="image/png" rel="icon" href="../public/images/profileCardComponent/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../public/css/profileCardComponent.css">
</head>

<body>
    <div class="layout">
        <img class="bg-img" src="../public/images/profileCardComponent/bg-pattern-top.svg" alt="">
        <img class="bg-img" src="../public/images/profileCardComponent/bg-pattern-bottom.svg" alt="">
        <div class="card">
            <div class="part-card">
                <img src="../public/images/profileCardComponent/bg-pattern-card.svg" alt="">
            </div>
            <div class="part-card">
                <img class="img-profile" src="../public/images/profileCardComponent/image-victor.jpg" alt="Victor">
                <div class="profile">
                    <div class="info-profile">
                        <strong>Victor Crest <label>26</label></strong>
                        <label>london</label>
                    </div>
                </div>
                <div class="information">
                    <div class="item-information">
                        <h3>80k</h3>
                        <label>Follower</label>
                    </div>
                    <div class="item-information">
                        <h3>803k</h3>
                        <label>Likes</label>
                    </div>
                    <div class="item-information">
                        <h3>1.4k</h3>
                        <label>Photos</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>