<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Una simple tarjeta de precio con html, css">
    <title>Single price grid</title>
    <link type="image/png" rel="icon" href="../public/images/singlePriceGridComponent/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../public/css/singlePriceGridComponent.css">
</head>

<body>
    <main class="layout">
        <div class="content">
            <div class="card">
                <article class="item-card">
                    <h2>Join our comunity</h2>
                    <strong>30-days , hassle free money back guarantee</strong>
                    <p>Gain access to our full library of tutorial along with expert code reviews. Perfect for any
                        develorpers who are serious about honing their skills.</p>
                </article>
            </div>
            <div class="card">
                <article class="item-card">
                    <h4>Monthly subscription</h4>
                    <span class="price">$ 29 <label>per month</label></span>
                    <p>Full access for less than $1 a day.</p>
                    <button class="btn-sign-up">
                        sign-up
                    </button>
                </article>
                <article  class="item-card">
                    <h4>Why us</h4>
                    <ul>
                        <li>Tutorial by industry expert</li>
                        <li>Peer & expert code review</li>
                        <li>coding exercises</li>
                        <li>Access to our GitHub repos</li>
                        <li>Community forum</li>
                        <li>Flashcard decks</li>
                        <li>New videos every week</li>
                    </ul>
                </article>
            </div>
        </div>
    </main>
</body>

</html>