<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abraham Alberto Flores Zavala">
    <meta name="description" content="Social proof section">
    <meta name="keywords" content="social proof section">
    <title>Social proof section master</title>
    <link type="image/png" rel="icon" href="../public/images/socialProofSectionMaster/favicon-32x32.png">
    <link type="text/css" rel="stylesheet" href="../public/css/socialProofSectionMaster.css">
</head>

<body>
    <main class="layout">
        <img class="img-bg" src="../public/images/socialProofSectionMaster/bg-pattern-top-desktop.svg" alt="">
        <img class="img-bg" src="../public/images/socialProofSectionMaster/bg-pattern-bottom-desktop.svg" alt="">
        <div class="content">
            <div class="card">
                <article class="item-card">
                    <h2>10,000+ of our users love our products.</h2>
                    <p>We only provide great products combined with excellent customer service. See what our
                        satisfied customers are saying about our services.</p>
                </article>
                <article class="item-card">
                    <ul class="clasification">
                        <li>
                            <div class="group-star">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                            </div>
                            <label>Rated 5 Stars in Reviews</label>
                        </li>
                        <li>
                            <div class="group-star">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                            </div>
                            <label>Rated 5 Stars in Report Guru</label>
                        </li>
                        <li>
                            <div class="group-star">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                                <img src="../public/images/socialProofSectionMaster/icon-star.svg" alt="">
                            </div>
                            <label>Rated 5 Stars in BestTech</label>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="card">
                <article class="item-card card-comentary">
                    <div class="header">
                        <img src="../public/images/socialProofSectionMaster/image-colton.jpg" alt="">
                        <div class="information">
                            <strong class="name">Colton Smith</strong>
                            <label>Verified Buyer</label>
                        </div>
                    </div>
                    <p>
                        "We needed the same printed design as the one wehad ordered a week prior. Not only did they find
                        the original order, but we also received it in time. Excellent!"
                    </p>
                </article>
                <article class="item-card card-comentary">
                    <div class="header">
                        <img src="../public/images/socialProofSectionMaster/image-irene.jpg" alt="">
                        <div class="information">
                            <strong class="name">Irene Roberts</strong>
                            <label>Verified Buyer</label>
                        </div>
                    </div>
                    <p>
                        "Customer service is always excellent and very quick turn around. Completely delighted with de simplicity of the purchase and the speed of delivery."
                    </p>
                </article>
                <article class="item-card card-comentary">
                    <div class="header">
                        <img src="../public/images/socialProofSectionMaster/image-anne.jpg" alt="">
                        <div class="information">
                            <strong class="name">Anne Wallace</strong>
                            <label>Verified Buyer</label>
                        </div>
                    </div>
                    <p>
                        "Put an order with this company and can only praise them for the very higth standard. Will definitely use them again and recommend them to everyone."
                    </p>
                </article>
            </div>
        </div>
    </main>
</body>

</html>